@import '../../variables.scss';


form {
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: $button-background;

        &:hover, &.active {
          background: $button-color-red;
          color: $button-hover-background;
        }
      }
    }
  }

  button {
    cursor: pointer;
    background: $button-background;
    border: none;

    &:hover, &.active {
      background: $button-color-red;
      color: $button-hover-background;
    }
  }
}
