$backgroundColor: #020202;
$text-color-yellow: #f2ec57;
$button-color-red: #cc463c;
$button-background: lighten($backgroundColor, 70);
$button-hover-background: lighten($backgroundColor, 90%);
$radius: 40%;